*{
  padding:0;
  margin:0;
  box-sizing: border-box;
 
  
}
html{
  scroll-behavior: smooth;
  height: 100%;
  
}

body{
  background-size: cover;
  background-repeat:no-repeat;
  scroll-behavior: scroll;
  height: auto;
  

}

.nav-bar{
  width: 100%;
  height: 60px;
  background-color:rgb(7, 30, 35);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
  color: #fff;
  margin-left: 40px;
  font-size: 23px;
  border: 1px solid #fff;
  padding: 4px 8px;
  border-radius: 7px;
  justify-content: center;
}
ul li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
  font-size: 20px;
}
ul li a{
  text-decoration: none;
  color:#fff;
  padding:10px;
  border-radius: 7px;
}
ul li a{
  cursor: pointer;
}
ul li a:hover{
  text-decoration: underline;
  background-color: #fff;
  color: #000;
  text-underline-offset: 4px;
  transform: translate(1.2);
}
.main-menu{
  margin-right: 30px;
}
.closeBtn, .menuBtn{
  font-size: 28px;
  margin: 0px 20px;
  display: none;
  color:#fff;
  
}
#roll{
  background-image: url(data/src/guitar2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  
}
.roll_txt{
  color:#fff;
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  text-align:center;
  padding: 200px;

  
}

@keyframes example {
  0%   { left:-400px;}

  100% { left:0px;}
}
.btn1{
  padding: 10px;
  background-color:#04AA6D;
  border-radius: 7px;
  border: none;
  color: #fff;
}
#abt {
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 10px #ddd;
  color: black;
  width: 100%;
  margin-top: 30px;
  
}

p {
  margin-left: 20px;
}

.first1 {
  margin-left: 20px;
  width: 120%;
}

div.gallery {
    
  border-radius: 8px;
  text-align: center;
}


div.gallery img {
  width: 100%;
  height: auto;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 5px 5px 5px 5px #ddd;
}

.responsive {
  margin-top: 30px;
  margin-left: 5px;
  padding: 0 6px;
  float: left;
  width:30%;
  justify-content: center;
}
.box {
  position: relative;
  width: 100%;
}
  
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url(data/src/singer.jpg);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 8px;

}

.box:hover .overlay {
  bottom: 0;
  height: 100%;
  
}
.text{
  color: #000;
  padding: 2px;
  font-size: 24px;
  width: 80px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor:pointer;
}
button:hover{
  background-color:rgb(20, 210, 20);
  transition-delay: 0.2s ease-in-out;
  color: #fff;

}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
#group{
  width:80%;
  border-radius:100%;
  height:80%;
  padding: 10px;
  margin-top: 10px;
  transition: transform .2s ease-in-out;

}
#group:hover{
  transform: scale(1.2);
}

/*...................Media Query..............*/
@media only screen and (max-width:600px) {
  body{
   scroll-behavior: smooth; 
  }
  ul{
    display:none;
    z-index: -1;
    }
  ul li {
    display: block;
    margin: 20px;
    z-index: -1;
  }
  ul li a{
    color:#fff;
    text-decoration: none;
  }
  .menuBtn{
    display: block;
    z-index: -1;
    color: #fff;
  }
  #menu{
    width: 100%;
    background: rgb(11, 46, 54);
    position:absolute;
    top:60px;
    right: 0;
    text-align: left;
    z-index: 1;
  }
#abt {
  box-sizing: border-box;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 10px #ddd;
  color: black;
  width: 100%;
  margin-top: 25px;
}

.first1 {
  margin-left: 20px;
  width: 90%;
}

.column {
  background-color: #fff;
  float: left;
  width: 30%;
  padding: 20px;
  margin-top: 15px;
  height: 200px;
  box-shadow: 5px 10px #eee;
  border-radius: 8px;
  margin-left: 2px;
  text-align: center;
  align-items: center;
  border:2px solid black;
  z-index: -1;/* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display:table;
  clear: both;
  z-index: -1;
  
}
div.gallery {

  border-radius: 8px;
  text-align: center;
  width: 100%;
  
}


div.gallery img {
  width:105%;
  height: auto;
  z-index: -1;
}

.responsive {
  margin-top: 30px;
  margin-left: 30px;
  padding: 0 6px;
  float: left;
  width:35%;
  border-radius:8px;
  justify-content: center;
}
.box {
  position: relative;
  width: 100%;
}
  
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url(data/src/singer.jpg);
  overflow: hidden;
  width: 105%;
  height:0;
  transition: .5s ease;

}

.box:hover .overlay {
  bottom: 0;
  height: 100%;
  
}

.text{
  color: #000;
  padding: 3px;
  font-size: 18px;
  width: 60px;
  border-radius: 8px;
  border: 1px solid #000;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor:pointer;
}

button:hover{
  background-color:rgb(20, 210, 20);
  transition-delay: 0.2s ease-in-out;
  color:#fff;

}
.flip-card {
  margin-top: 10px;
  margin: auto;
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
#group{
  
  width:30%;
  border-radius:100%;
  height:80%;
  padding: 10px;
  margin-left: 25%;
  margin-top: 10px;
  transition: transform .2s ease-in-out;

}
}